@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

body {
  color: #000;
  word-break: break-all;
  font-size: 18px;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "游ゴシック", "Yu Gothic", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  line-height: 1.8;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }
}

main {
  width: 100%;
}

a {
  color: #000;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

h1, h2 {
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  line-height: 1;
}

h1 {
  color: #fff;
  font-size: 80px;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 480px) {
  h1 {
    width: 250px;
    text-align: center;
    line-height: 2;
  }
}

h2 {
  font-size: 60px;
}
@media screen and (max-width: 480px) {
  h2 {
    font-size: 50px;
  }
}

nav {
  font-family: "Nunito", sans-serif;
}
nav a {
  color: #fff;
}

.openbtn {
  display: none;
}

@media screen and (max-width: 768px) {
  .openbtn {
    position: relative;
    z-index: 9999;
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  .openbtn span {
    position: absolute;
    left: 14px;
    display: inline-block;
    width: 45%;
    height: 3px;
    border-radius: 2px;
    background-color: #fff;
    transition: all 0.4s;
  }
  .openbtn span:nth-of-type(1) {
    top: 15px;
  }
  .openbtn span:nth-of-type(2) {
    top: 23px;
  }
  .openbtn span:nth-of-type(3) {
    top: 31px;
  }
  .openbtn.active {
    border: 3px solid #144E94;
  }
  .openbtn.active span {
    background-color: #144E94;
  }
  .openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    width: 30%;
    transform: translateY(6px) rotate(-45deg);
  }
  .openbtn.active span:nth-of-type(2) {
    opacity: 0;
  }
  .openbtn.active span:nth-of-type(3) {
    top: 30px;
    left: 18px;
    width: 30%;
    transform: translateY(-6px) rotate(45deg);
  }
}
header {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 84.39px;
}

.header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 4% 0;
  width: 92%;
}
.header_wrapper nav li {
  display: inline-block;
  margin-right: 50px;
}
.header_wrapper nav li:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  #g-nav {
    position: fixed;
    top: -120%;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    transition: all 0.6s;
  }
  #g-nav.panelactive {
    top: 0;
  }
  #g-nav ul {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    transform: translate(-50%, -50%);
  }
  #g-nav li {
    display: block;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
    font-size: 36px;
  }
  #g-nav a {
    color: #144E94;
  }
}
@media screen and (max-width: 480px) {
  #g-nav li {
    font-size: 24px;
  }
}
.wrapper {
  margin: 0 auto;
  padding: 10vh 2%;
  max-width: 1100px;
}
@media screen and (max-width: 480px) {
  .wrapper {
    padding: 10vh 6%;
  }
}

.section_title {
  margin-bottom: 50px;
  text-align: center;
}
.section_title h2 {
  margin-bottom: 10px;
}
.section_title span {
  color: #144E94;
  font-weight: bold;
}

.link_btn {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #000;
}
.link_btn a {
  color: #144E94;
  font-weight: bold;
}

.contact {
  background-color: rgba(20, 78, 148, 0.2);
}
.contact .section_title > p > span, .contact label > span {
  color: #880000;
}
@media screen and (max-width: 480px) {
  .contact .section_title p {
    margin: 0 auto;
    width: 260px;
  }
}
.contact_form {
  position: relative;
  margin: 0 auto;
  width: 600px;
  height: 500px;
}
@media screen and (max-width: 768px) {
  .contact_form {
    padding-bottom: 150px;
    width: 300px;
  }
}
.contact_form_title {
  width: 200px;
  font-size: 22px;
}
.contact_form_box {
  position: absolute;
  right: 0;
  padding-left: 8px;
  width: 350px;
  height: 40px;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .contact_form_box {
    position: initial;
  }
}
@media screen and (max-width: 480px) {
  .contact_form_box {
    box-sizing: border-box;
    width: 300px;
    height: 46px;
  }
}
.contact_form_textarea {
  position: absolute;
  right: 0;
  padding: 8px;
  width: 346px;
  height: 200px;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .contact_form_textarea {
    position: initial;
  }
}
@media screen and (max-width: 480px) {
  .contact_form_textarea {
    box-sizing: border-box;
    width: 300px;
  }
}
.contact_box {
  margin-bottom: 25px;
}
@media screen and (max-width: 768px) {
  .contact_box {
    position: relative;
    left: calc(50% - 182px);
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .contact_box {
    left: calc(50% - 150px);
  }
}
.contact_box:last-child {
  margin-bottom: 0;
}
.contact_btn {
  position: absolute;
  bottom: 0;
  left: calc(50% - 63px);
  display: inline-block;
  padding: 10px 40px;
  border: 1px solid #000;
  background-color: #fff;
  color: #144E94;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .contact_btn {
    bottom: -20px;
  }
}

footer {
  background-color: #082F50;
}
footer p {
  padding: 20px 0;
  color: #fff;
  text-align: center;
  font-size: 12px;
}

header {
  background-color: #fff;
}

nav a {
  color: #144E94;
}

.openbtn {
  border: 3px solid #144E94;
}
.openbtn span {
  background-color: #144E94;
}

.work {
  padding-top: 100px;
}
@media screen and (max-width: 768px) {
  .work {
    padding-top: 50px;
  }
}
.work .section_title {
  margin-bottom: 20vh;
}
@media screen and (max-width: 768px) {
  .work .section_title {
    margin-bottom: 50px;
  }
}
.work_item {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto 30vh;
}
@media screen and (max-width: 768px) {
  .work_item {
    flex-direction: column-reverse;
    align-items: center;
    gap: 50px;
    margin-bottom: 10vh;
  }
}
.work_item:last-child {
  margin-bottom: 10vh;
}
.work_item_text {
  max-width: 550px;
  padding-right: 50px;
}
@media screen and (max-width: 768px) {
  .work_item_text {
    padding-right: 0;
  }
}
.work_item_text_content {
  margin-bottom: 30px;
}
.work_item_text h3 {
  font-size: 24px;
  border-left: 3px solid #00FFFA;
  line-height: 1.4;
  padding-left: 8px;
  margin-bottom: 8px;
}
@media screen and (max-width: 480px) {
  .work_item_text h3 {
    font-size: 20px;
  }
}
.work_item_text h4 {
  font-size: 24px;
  font-weight: normal;
}
@media screen and (max-width: 480px) {
  .work_item_text h4 {
    font-size: 20px;
  }
}
.work_item_img {
  max-width: 380px;
  height: 240px;
}
.work_item_img img {
  -o-object-fit: cover;
     object-fit: cover;
}