$cBlack: #000;
$cWhite: #fff;
$cLight_Blue: #00FFFA;
$cBlue: #144E94;
$cBlue_thin: rgba(20, 78, 148, 0.68);
$cBlue_contact: rgba(20, 78, 148, .2);
$cBlue_footer: #082F50;
$cRed: #880000;

$font: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro','メイリオ', 'Meiryo', '游ゴシック', 'Yu Gothic', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;