.about {
  &_content{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;

    @include mq(tb){
      flex-direction: column;
      align-items: center;
      margin-bottom: 150px;
    }
  }
  
  &_img{
    width: 250px;
    height: 250px;
    img {
      height: 100%;

      object-fit: cover;
      object-position: left center;
    }
    
    @include mq(tb){
      margin-bottom: 30px;
    }
  }
  
  &_text {
    position: relative;
    margin-left: 26px;
    max-width: 530px;
    z-index: 1;

    @include mq(tb){
      margin-left: 0;
    }

    h3 {
      display: inline-block;
      padding-bottom: 4px;
      border-bottom: 3px solid $cLight_Blue;
      font-size: 36px;
      line-height: 1;
      @include mq(sp){
        font-size: 30px;
      }
    }

    .link_btn {
      position: absolute;
      right: 0;
      bottom: 0;

      @include mq(tb){
        bottom: -70px;
      }
      @include mq(sp){
        right: calc(50% - 64px);
      }
    }
  }
}

.about_twitter {
  max-width: 800px;
  margin: 0 auto;
  height: 400px;
  text-align: center;

  @include mq(tb){
    max-width: 530px;
  }
  iframe {
    margin: 0 auto;
  }
}