.skill {
  &_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    @include mq(sp){
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
    }
  }

  &_item {
    display: flex;
    align-items: center;
    margin-bottom: 56px;
    height: 70px;
    &:nth-child(2n){
      margin-left: 50px;
    }
    &:last-child{
      margin-bottom: 0;
    }
    
    @include mq(pc){
      max-width: 500px;
      padding: 0 50px;
      &:nth-child(2n){
        margin-left: 0;
      }
    }
    @include mq(tb){
      padding: 0;
    }
  }

  &_img{
    margin-right: 20px;
    width: 64px;
    height: 64px;
  }

  &_text {
    width: 400px;
    @include mq(sp){
      width: 200px;
    }
    p {
      position: relative;
      span {
        position: absolute;
        left: 150px;
        @include mq(sp){
          left:  100px;
        }
      }
    }
  }
  
  .sass i{
    padding-top: 8px;
  }
}