.work{
  &_content {
    position: relative;
    margin: 0 auto;
    padding-bottom: 200px;
    max-width: 800px;
    @include mq(tb){
      padding-bottom: 130px;
    }
  }

  &_list {
    display: flex;
    justify-content: space-between;
    margin: 100px auto 0;
    max-width: 800px;
    
    @include mq(tb){
      margin-top: 50px;
      align-items: center;
      flex-direction: column;
    }
  }
  &_item {
    @include mq(tb){
      margin-bottom: 50px;
    }

    &_img{
      max-width: 350px;
      height: 240px;
      img{
        height: 100%;

        object-fit: cover;
      }
    }

    &_text{
      margin-top: 20px;
      p{
        padding-left: 15px;
        border-left: 3px solid $cLight_Blue;
        line-height: 1.4;
      }
    }
  }

  .link_btn {
    position: absolute;
    right: 0;
    bottom: 70px;
    
    @include mq(tb){
      right: calc(50% - 76px);
    }
  }
}
