.work{
  &_content {
    position: relative;
    margin: 0 auto;
    padding-bottom: 200px;
    @include mq(tb){
      padding-bottom: 130px;
    }
  }

  &_list {
    display: flex;
    justify-content: space-between;
    margin: 100px auto 0;
    max-width: 1000px;
    
    @include mq(tb){
      margin-top: 50px;
      align-items: center;
      flex-direction: column;
    }
  }
  &_item {
    @include mq(tb){
      margin-bottom: 50px;
    }

    &_img{
      max-width: 450px;
      height: 277px;

      @include mq(sp){
        height: auto;
      }

      img{
        height: 100%;

        object-fit: cover;
      }
    }

    &_text{
      margin-top: 20px;
      p{
        padding-left: 15px;
        border-left: 3px solid $cLight_Blue;
        line-height: 1.4;
      }
    }
  }

  .link_btn {
    position: absolute;
    right: 50px;
    bottom: 70px;
    font-size: 16px;
    border-radius: 32px;

    &:hover {
      cursor: pointer;
      background-color: $cBlue;
      a {
        color: $cWhite;
      }
    }
    
    @include mq(tb){
      right: calc(50% - 90px);
    }
  }
}