@charset "UTF-8";

@import "../base/reset";
@import "../base/base";
@import "../config";
@import "../mixin";
@import "../animation";
@import "../common";

header {
  background-color: $cWhite;
}

nav {
  a{
    color: $cBlue;
  }
}

.openbtn {
  border: 3px solid $cBlue;

  span {
    background-color: $cBlue;
  }
}

.profile {
  padding-top: 100px;

  &_box {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 900px;

    @include mq(tb){
      flex-direction: column-reverse;
      align-items: center;
      gap: 50px;
    }
  }

  &_text {
    max-width: 580px;

    &_content {
      margin-bottom: 24px;

      h3 {
        display: inline-block;
        margin-bottom: 8px;
        padding-bottom: 4px;
        border-bottom: 3px solid $cLight_Blue;
        font-size: 36px;
        line-height: 1;
        @include mq(sp){
          font-size: 30px;
        }
      }
      h4 {
        color: $cBlue;
        font-size: 24px;
        @include mq(sp){
          font-size: 20px;
        }
      }
    }
  }

  &_img {
    width: 250px;
    height: 250px;
    img {
      height: 100%;

      object-fit: cover;
      object-position: left center;
    }
  }
}