@charset "UTF-8";

@import "../base/reset";
@import "../base/base";
@import "../config";
@import "../mixin";
@import "../animation";
@import "../common";

.top {
  height: 100vh;
  background-color: transparent;

  &_wrapper{
    background-image: url('/images/profile.jpg');
    background-repeat: no-repeat;
    background-position: 70% 50%;
    background-size: cover;
    position: fixed;
    z-index: -3;
    width: 100%;
  }

  &_filter{
    background-color: $cBlue_top;
  }

  &_title {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;

    h1 {
      line-height: 2;
    }
    
    span{
      color: $cWhite;
      font-size: 24px;
    }
  }
}



.profile {
  &_box {
    display: flex;
    justify-content: space-between;
    margin: 100px auto 0;
    max-width: 900px;

    @include mq(tb){
      flex-direction: column-reverse;
      align-items: center;
      gap: 50px;
    }
  }

  &_text {
    max-width: 580px;

    &_content {
      margin-bottom: 40px;
      &:first-child {
        padding-top: 50px;
      }

      h3 {
        display: inline-block;
        margin-bottom: 8px;
        padding-bottom: 4px;
        border-bottom: 3px solid $cLight_Blue;
        font-size: 36px;
        line-height: 1;
        @include mq(sp){
          font-size: 30px;
        }
      }
      h4 {
        color: $cBlue;
        font-size: 24px;
        @include mq(sp){
          font-size: 20px;
        }
      }
    }
  }

  &_img {
    width: 250px;
    height: 250px;
    img {
      height: 100%;

      object-fit: cover;
      object-position: left center;
    }
  }
}