@charset "UTF-8";

@import "../base/reset";
@import "../base/base";
@import "../config";
@import "../mixin";
@import "../animation";
@import "../common";

.top {
  height: 100vh;
  background-color: transparent;

  &_wrapper{
    background-image: url('/images/works.jpg');
    background-repeat: no-repeat;
    background-position: 40% 50%;
    background-size: cover;
    position: fixed;
    z-index: -3;
    width: 100%;
  }

  &_filter{
    background-color: $cBlue_top;
  }

  &_title {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;

    h1 {
      line-height: 2;
    }
    
    span{
      color: $cWhite;
      font-size: 24px;
    }
  }
}

.work {
  padding-top: 70px;

  @include mq(tb){
    padding-top: 50px;
  }
  
  .section_title {
    margin-bottom: 10vh;
    @include mq(tb){
      margin-bottom: 50px;
    }
  }

  &_item {
    display: flex;
    // justify-content: space-between;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto 15vh;
    @include mq(tb){
      // flex-direction: column-reverse;
      // align-items: center;
      // gap: 50px;
      // margin-bottom: 10vh;
    }
    
    &:last-child {
      margin-bottom: 10vh;
    }

    &_text {
      max-width: 550px;

      &_content {
        margin-bottom: 30px;
        a:hover {
          color: $cBlue;
          border-bottom: 1px solid $cBlue;
        }
      }
      h3 {
        font-size: 24px;
        border-left: 3px solid $cLight_Blue;
        line-height: 1.4;
        padding-left: 8px;
        margin-bottom: 8px;
        @include mq(sp){
          font-size: 20px;
        }
      }
      h4 {
        font-size: 24px;
        font-weight: normal;
        @include mq(sp){
          font-size: 20px;
        }
      }
    }

    &_img {
      max-width: 800px;
      margin-bottom: 20px;

      a:hover {
        opacity: 0.8;
      }

      img {
        object-fit: cover;
      }
    }
  }
}